:root {
    --bg-color: #fefefe;
    --fg-color: #3e3e3e;
    --ol-color: #a5b1c2;
    --ac-color1: #3867d6;
    --ac-color2: #fa8231;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: sans-serif;
}

header {
    text-align: center;
}

.content {
    padding-left: 2vw;
    padding-right: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#program, code {
    font-family: monospace;
}

#program {
    border: 1px solid var(--ol-color);
    border-radius: 3px;
    resize: none;
    padding: 5px;
}

#tape {
    font-size: 2.5em;
}

#tape, #tape span {
    font-family: monospace;
}

button {
    border: 1px solid var(--ol-color);
    border-radius: 3px;
    padding: 7px;
    color: var(--bg-color);
    font-weight: 600;
    background-color: var(--ac-color1);
}